* {
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
    height: 72px;
    background-color: rgb(233, 160, 95);
    color: rgb(225, 208, 187);
    font-family: verdana, sans-serif;
}
ul {
    width: 100%;
    text-align: right;
    list-style: none;
}  
li {
    display: inline-block;
    width: 250px;
    text-align: center;
}
a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
    line-height: 3em;
}
a:hover {
    background-color: rgb(225, 208, 187);
    cursor: pointer;
}
.mm {
    transition: rotate 0.5s;
    margin-left: 35px;
    left: 25px;
    rotate: 90deg;
}
.icon-style {
    margin-right: 8px;
    font-size: 0.85em;
    left: 20px;
}
.child-menu {
    position: absolute;
    display: block;
    overflow: hidden;
    color: black;
}
.main-menu > li:hover > .child-menu {
    position: absolute;
    display: block;
    color: black;
    overflow: visible;
    max-height: 500px;
    background-color: rgb(233, 160, 95);
}

  